.intro {
  text-align: center;
}

.fontStyle {
  font-family: monospace;
  background-color: black;
}

.subtitle h1 {
  font-style: italic;
}

.wrapAroundImage {
  float: left;
}

.wide{
  width:50%;
}

.sidebar
{
  border: 3px solid purple;
  background-color: black;
  padding:1%;
  margin: 1%;
  width:15%;
}

div a {
  font-style: italic;
}
